/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require social-share-button
 *= require_tree .
 *= require_self
 */
  /* @font-face {
  font-family: "Zpix";
  src: url("Zpix.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "JF-Dot-Kappa-20-Bold";
  src: url("JF-Dot-Kappa-20-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "JF-Dot-jiskan24h-2000";
  src: url("JF-Dot-jiskan24h-2000.woff") format("woff");
  font-weight: normal;
  font-style: normal;
} */

