<div class="container">
  <div class="row">
    <div class="outcome-wrapper col-12">
      <div class="outcome row justify-content-center align-items-center">
        <div class="card-wrapper col-10 col-sm-8 col-md-5 col-lg-4">
          <div class="card-inner row justify-content-center">
            <div class="card card-front col-12">
              <div class="row justify-content-center align-items-center">
                <div class="photo-wrapper col-12 text-center">
                  <div class="photo photo-politician"></div>
                </div>
                <div class="name name-politician col-12 text-center"></div>
                <div class="radar col-6">
                  <canvas id="radar" width="100" height="100"></canvas>
                </div>
                <div class="policies col-6">
                  <p class="more-policy text-right">更多政見</p>
                </div>
              </div>
            </div>
            <div class="card card-back col-12">
              <div class="row justify-content-center align-items-center">
                <div class="col-12">
                  <div class="card-back-header row align-items-center">
                    <div class="number-wrapper text-center">
                      <div class="number"></div>
                    </div>
                  <div class="name name-user col-12 text-center"></div>
                  </div>
                </div>
                <div class="photo-wrapper col-12 text-center">
                  <div class="photo photo-user"></div>
                </div>
                <div class="slogan col-12 text-center">懇請支持</div>
                <div class="slogan col-12 text-center">搶救</div>
                <div class="slogan name-user col-12 text-center"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js'></script>
<script>
(function() {
  var fake_result = [
    {
      id: 25,
      name: "蘇世岳",
      region: "03 八德區",
      party: "無黨籍",
      age: 0,
      gender: 0,
      city: "桃園市",
      birth: null,
      school: null,
      experience: null,
      created_at: "2018-10-28T10:19:46.518Z",
      updated_at: "2018-11-04T13:17:45.232Z",
      image_url:
        "https://election.storm.mg/uploads/images/4ad40fb935db3a3e3664b142fda03fb6.jpg"
    },
    [
      {
        id: 17,
        description:
          "督促大湳滯洪池、興豐路排水改善工程儘速完成，完善雨水下水道，解決長年積水問題。\n",
        politician_id: 25,
        created_at: "2018-10-28T10:19:46.686Z",
        updated_at: "2018-11-06T10:07:28.789Z",
        first_type: "0"
      },
      {
        id: 1031,
        description:
          "增加幼兒園招生名額；爭取補助幼兒園安裝CO2及PM2.5室內空氣監測設備。",
        politician_id: 25,
        created_at: "2018-11-06T10:02:14.882Z",
        updated_at: "2018-11-11T13:15:19.599Z",
        first_type: "3"
      },
      {
        id: 15,
        description:
          "督促八德公托中心、瑞泰公托中心、廣興公托中心，如實如期完工，落實在地公托。\n",
        politician_id: 25,
        created_at: "2018-10-28T10:19:46.643Z",
        updated_at: "2018-11-11T13:15:19.631Z",
        first_type: "3"
      },
      {
        id: 16,
        description: "監督鐵路地下化儘速動工，打開八德對外交通瓶頸。\n",
        politician_id: 25,
        created_at: "2018-10-28T10:19:46.664Z",
        updated_at: "2018-11-11T13:15:19.682Z",
        first_type: "1"
      },
      {
        id: 1032,
        description:
          "爭取各國中、國小教室儘速裝設冷氣；建置智慧校園數位學堂；監督八德國小校舍整建及八德國中活動中心改善。",
        politician_id: 25,
        created_at: "2018-11-06T10:02:32.240Z",
        updated_at: "2018-11-11T13:15:19.780Z",
        first_type: "3"
      },
      {
        id: 1033,
        description:
          "爭取在八德擴大計畫區設置八德綜合中學，包括高中部及高職部，便利在地升學。",
        politician_id: 25,
        created_at: "2018-11-06T10:02:50.986Z",
        updated_at: "2018-11-11T13:15:19.810Z",
        first_type: "3"
      },
      {
        id: 1034,
        description:
          "爭取在八德擴大計畫區設置八德綜合中學，包括高中部及高職部，便利在地升學。",
        politician_id: 25,
        created_at: "2018-11-06T10:03:11.179Z",
        updated_at: "2018-11-11T13:15:19.854Z",
        first_type: "3"
      },
      {
        id: 1035,
        description:
          "督促捷運綠線如期動工，妥善規劃替代疏運路線，避免交通黑暗期。",
        politician_id: 25,
        created_at: "2018-11-06T10:04:31.560Z",
        updated_at: "2018-11-11T13:15:19.889Z",
        first_type: "1"
      },
      {
        id: 1036,
        description:
          "爭取以豐德路延伸增設國道三號八德第二交流道，帶動八德擴大計畫區發展。",
        politician_id: 25,
        created_at: "2018-11-06T10:04:50.630Z",
        updated_at: "2018-11-11T13:15:19.921Z",
        first_type: "1"
      },
      {
        id: 1037,
        description:
          "增設YouBike租賃站；建置智慧型公車系統，提升公車到站準點率。",
        politician_id: 25,
        created_at: "2018-11-06T10:05:13.717Z",
        updated_at: "2018-11-11T13:15:19.954Z",
        first_type: "1"
      },
      {
        id: 1038,
        description: "爭取再增設一所日間照顧中心，減輕家庭照護壓力。",
        politician_id: 25,
        created_at: "2018-11-06T10:05:35.474Z",
        updated_at: "2018-11-11T13:15:19.986Z",
        first_type: "3"
      },
      {
        id: 1039,
        description:
          "督促八德國民運動中心、大湳森林公園、八塊厝故事館、北區青少年活動中心、興豐親子館、兒童玩具圖書館儘速完工；增加天幕籃球場、寵物公園、親子共樂遊憩設施。",
        politician_id: 25,
        created_at: "2018-11-06T10:05:50.514Z",
        updated_at: "2018-11-11T13:15:20.010Z",
        first_type: "3"
      },
      {
        id: 1040,
        description:
          "督促儘速規劃完成公共汙水下水道，提升用戶普及率，同時完成電纜地下化。",
        politician_id: 25,
        created_at: "2018-11-06T10:06:14.765Z",
        updated_at: "2018-11-06T10:06:14.765Z",
        first_type: "0"
      }
    ],
    {
      id: 7,
      name: "李信宏",
      email: "alan12141020@gmail.com",
      affairs: 2,
      transportation: 1,
      economic: 1,
      education: 2,
      teen: 0,
      citizen: 0,
      created_at: "2018-11-18T09:52:49.054Z",
      updated_at: "2018-11-18T09:52:49.054Z",
      u_id: "1901888149900371"
    }
  ];
  
  function renderPolicy() {
    var content = '';
    for(var i=0; i<3; i++) {
      content += '<p class="policy">' + fake_result[1][i].description + '</p>';
    }
    $('.policies').prepend(content);
  }
  function renderRadar() {
    const affairs = fake_result[2].affairs;
    const transportation = fake_result[2].transportation;
    const education = fake_result[2].education;
    const teen = fake_result[2].teen;
    const citizen = fake_result[2].citizen;
    const economic = fake_result[2].economic;
    const ctx = document.getElementById("radar");
    new Chart(ctx, {
      type: "radar",
      data: {
        labels: [
          "內政",
          "交通",
          ["教育", "文化"],
          ["青年", "發展"],
          ["公民", "政治"],
          "經濟"
        ],
        datasets: [
          {
            backgroundColor: "rgba(231,195,78,0.4)",
            data: [
              affairs,
              transportation,
              education,
              teen,
              citizen,
              economic
            ],
            borderWidth: 1,
            pointRadius: 0
          }
        ]
      },
      options: {
        tooltips: {
          enabled: false
        },
        legend: {
          display: false
        },
        scale: {
          ticks: {
            beginAtZero: true,
            maxTicksLimit: 4,
            min: 0,
            max: 4,
            stepSize: 2,
            display: false
          }
        }
      }
    });
  }

  $('.card-front').hide();
  $('.card-back').hide();
  if(window.location.search === '?front') $('.card-front').show();
  else $('.card-back').show();

  $('.photo-politician').css('background-image', 'url('+fake_result[0].image_url+')');
  $('.name-politician').text(fake_result[0].name);
  renderPolicy();
  $('.number').text(Math.floor((Math.random() * 10) + 1));
  // $('.photo-politician').css('background-image', 'url('+fake_result[2].image_url+')');
  // $('.name-politician').text(fake_result[2].name);
  $('.photo-user').css('background-image', 'url(https://scontent.ftpe8-4.fna.fbcdn.net/v/t1.0-9/37671776_2078680108811872_5005884623729721344_n.jpg?_nc_cat=110&_nc_ht=scontent.ftpe8-4.fna&oh=04cf8e9f54091b66608b07773ba85ad5&oe=5C7DBF34)');
  $('.name-user').text('劉義維');
  renderRadar();
})();
</script>