<!DOCTYPE html>
<html>
  <head>
    <title>ä¸€å€‹è­°å“¡çš„èª•ç”Ÿ</title>
    <%= csrf_meta_tags %>
    <link rel="icon" href="/playground/public/favicon.png">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta property="og:title"       content="ä¸€å€‹è­°å“¡çš„èª•ç”ŸðŸŒŸå®Œç¾Žé…å°æœ€åƒçš„è­°å“¡ï¼" />
    <meta property="og:description" content="å¤§é¸è¦åˆ°äº†â—ï¸æ˜¯å¦çœ‹éŽæ”¿è¦‹äº†å‘¢?é€éŽæœ‰è¶£çš„åƒé¸ä¹‹è·¯ï¼Œä¸€èµ·ç™¼æŽ˜æ”¿è¦‹æœ€Matchçš„è­°å“¡å§ï¼" />
    <meta property="og:image" content="https://www.taiwanbunbun.com/playground/public/title.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129532984-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-129532984-1');
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
